<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">  
      html { height: 100%; background-color: #6E6D65}  
      body { height: 100%; margin: 0; padding: 0 }  
      #map_canvas { height: 100% }   
    </style>  
    <title>Clarity</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
